body {
  font-family: Arial;
  background: #e0f2fe;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.container {
  background: white;
  padding: 25px;
  width: 460px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 { color: #1e3a8a; }

.balance { font-size: 18px; font-weight: bold; }

.stock {
  background: #f1f5f9;
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
}

.buy {
  background: #22c55e;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
}

.sell {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
}

.reset {
  margin-top: 15px;
  background: #0f172a;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
}

.login input {
  padding: 6px;
  width: 65%;
}

.login button {
  padding: 6px 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}

#transactions li {
  background: #60a5fa;
  color: white;
  margin: 5px 0;
  padding: 6px;
  border-radius: 6px;
  font-size: 14px;
}
